.a_619 { 
	color:#070707;
	width:100%;
	height:auto;
	left:645.679931640625px;
	top:120.24609375px;
    font-family:sans-serif;
	text-align:center;
	font-size:34px;
	letter-spacing:0;
}

.a_620 { 
	color:#070707;
	width:50%;
	height:300px;
	left:480.3296203613281px;
	top:181px;
	font-family:sans-serif;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}

.a_615 { 
  margin: auto;
  width: 90%;
  border: 2px solid grey;
  padding: 10px;
  background-color: #F6F6F6;
}
