mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="static/img/svg/symbol/sprite.svg#" + name)

mixin box_title(title='Default Title')
	span.a_619
		h1= title

mixin box_text(text='Default Title')
	span.a_620
		h3= text